In [2]:
import pandas as pd
import numpy as np

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic = pd.read_csv(url)

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Q-1: Using groupby make groups using the "Pclass" column and find out the average age and total number of missing values in the "Age" column for every group
pclass=titanic.groupby("Pclass")
pclass["Age"].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [ ]:
# Q-2: Using groupby make groups using the "Pclass" column and fill every group's "Embarked" column's missing values with the mode value of that group. After that, print every group's "Embarked" column's value counts in ascending order.
ftr=pclass["Embarked"].mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:
ftr

Pclass  Embarked
1       S           127
        C            85
        Q             2
2       S           164
        C            17
        Q             3
3       S           353
        Q            72
        C            66
Name: Embarked, dtype: int64

In [ ]:
# Q-3: Make groups based on "Embarked" column. And for each of this embarked group, make another group based on "Pclass" and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".
ans=titanic.groupby(["Embarked","Pclass"])["Fare"].mean().round(2)
ans

Embarked  Pclass
C         1         104.72
          2          25.36
          3          11.21
Q         1          90.00
          2          12.35
          3          11.18
S         1          70.36
          2          20.33
          3          14.64
Name: Fare, dtype: float64

In [ ]:
fifa = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

In [ ]:
fifa

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,...,11,3,583,518,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,...,13,2,491,430,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,...,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,...,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,...,19,4,516,419,24,3,5,28,4,0

In [ ]:
""" Q-4: Perform groupby based on the "Team" column and then perform Z Normalization on top of the below columns of each group:
Passes
Passes Completed
Attempted Line Breaks
Completed Line Breaks
You have to make a python function named z_normalization which takes two arguments:

group: Every group that you have created
cols_to_perform: This parameter takes a list of columns on which you have to perform the Z-Normalization.
For this problem, you have to use th apply() method.

Z − Normalization=Xi−μstd

After that find out the below values for each group:

minimum "Passess"
maximum "Passess"
minimum "Yellow Cards"
maximum "Yellow cards"
average "Yellow Cards"
maximum "Attempted Line Breaks"
minimum "Attempted Line Breaks"
standardard deviation of "Attempted Line Breaks"
average Possession
"""

In [ ]:
#code here
teams=fifa.groupby("Team")

In [ ]:
def z_nor(group,data):

  group[data]=(group[data]-group[data].mean())/group[data].std()
  return group

In [ ]:
data=["Passes","Passes Completed","Attempted Line Breaks","Completed Line Breaks"]
ans=teams.apply(z_nor,data=data)
ans

<ipython-input-109-d4f28fc8cb69>:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  ans=teams.apply(z_nor,data=data)

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,0.462725,0.410365,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,1.085876,1.123095,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,1.705844,1.718012,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,-0.820695,-0.761575,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,-0.020934,0.032483,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,...,11,3,1.662218,1.680153,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,...,13,2,-1.152198,-1.103970,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,...,11,2,0.896270,0.909216,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,...,26,4,0.178979,-0.028264,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,...,19,4,-0.046643,-0.280190,24,3,5,28,4,0

In [7]:
ipl=pd.read_csv("ipl_deliveries.csv")

In [8]:
ipl

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1.0,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2.0,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3.0,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4.0,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5.0,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107364,829789,Chennai Super KingsMumbai Indians,2,5,6.0,PA Patel,R Ashwin,LMP Simmons,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Mumbai Indians,Chennai Super Kings
107365,829789,Chennai Super KingsMumbai Indians,2,6,1.0,LMP Simmons,RA Jadeja,PA Patel,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Mumbai Indians,Chennai Super Kings
107366,829789,Chennai Super KingsMumbai Indians,2,6,2.0,LMP Simmons,RA Jadeja,PA Patel,NaN,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,Mumbai Indians,Chennai Super Kings
107367,829789,Chennai Super KingsMumbai Indians,2,6,3.0,PA Patel,RA Jadeja,LMP Simmons,NaN,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,Mumbai Indians,Chennai Super Kings
107368,829789,Chennai Super KingsMumbai Indians,2,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
newgroup=ipl[ipl["innings"]==2].groupby("batter")

In [56]:
[newgroup.sum("batsman_run").sort_values("batsman_run",ascending=False).head(1)][0]

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery
batter,,,,,,,,,
KL Rahul,1579951495,2652,9068,4593.0,1818.0,64.0,1882.0,0.0,33.0


Q-6 Most Successful bowler against any batsman. Find that pair of bowler and batsman.
Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful

In [30]:
bat_boll=ipl.groupby(["batter","bowler"])

In [57]:
bat_boll["total_run","isWicketDelivery"].sum().sort_values(["isWicketDelivery","total_run"],ascending=[True,False]).tail(1)

<ipython-input-57-f301b3312e12>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bat_boll["total_run","isWicketDelivery"].sum().sort_values(["isWicketDelivery","total_run"],ascending=[True,False]).tail(1)

                      total_run  isWicketDelivery
batter     bowler
GJ Maxwell RA Jadeja       28.0               6.0

Q-7: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [66]:
ipl.groupby(["batter","non-striker"])["total_run"].sum().sort_values(ascending=False).head(1)

batter          non-striker
AB de Villiers  V Kohli        1179.0
Name: total_run, dtype: float64

Q-8: Make a dataframe for all batting pairs played together.

In [77]:
ipl.groupby(["batter","non-striker"]).sum()

<ipython-input-77-c4cc53c954ba>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ipl.groupby(["batter","non-striker"]).sum()

                                      ID  innings  overs  ballnumber  \
batter         non-striker
A Ashish Reddy EJG Morgan       20599071       39    288        77.0
               KV Sharma        18332715       21    312        84.0
               MC Henriques      2942859        3     57        13.0
A Badoni       DJ Hooda         56074786       55    407       149.0
               E Lewis          18256742       28    252        50.0
...                                  ...      ...    ...         ...
Yuvraj Singh   SS Iyer          23234428       56    230        91.0
               V Shankar         9743832        9    120        36.0
Z Khan         A Mishra         12991580       24    152        45.0
               NM Coulter-Nile   8828127        9    145        38.0
               S Nadeem          5006618       10     92        11.0

                                batsman_run  extras_run  total_run  \
batter         non-striker
A Ashish Reddy EJG Morgan              35.0         0.0       35.0
               KV Sharma               27.0         1.0       28.0
               MC Henriques             2.0         0.0        2.0
A Badoni       DJ Hooda                43.0         2.0       45.0
               E Lewis                 19.0         5.0       24.0
...                                     ...         ...        ...
Yuvraj Singh   SS Iyer                 32.0         0.0       32.0
               V Shankar                9.0         0.0        9.0
Z Khan         A Mishra                 3.0         0.0        3.0
               NM Coulter-Nile          4.0         0.0        4.0
               S Nadeem                 3.0         0.0        3.0

                                non_boundary  isWicketDelivery
batter         non-striker
A Ashish Reddy EJG Morgan                0.0               1.0
               KV Sharma                 0.0               2.0
               MC Henriques              0.0               0.0
A Badoni       DJ Hooda                  0.0               1.0
               E Lewis                   0.0               0.0
...                                      ...               ...
Yuvraj Singh   SS Iyer                   0.0               1.0
               V Shankar                 0.0               1.0
Z Khan         A Mishra                  0.0               1.0
               NM Coulter-Nile           0.0               1.0
               S Nadeem                  0.0               1.0

[3894 rows x 9 columns]

Just to ease this question you can count wide-balls for strike rate

In [76]:
ipl.groupby(["batter","non-striker"])["total_run"].mean(["total_run","ballnumber"]).sort_values(ascending=False)

batter                   non-striker
KH Pandya                JP Duminy            6.0
JM Bairstow              YK Pathan            6.0
JPR Scantlebury-Searles  Shubman Gill         6.0
Harbhajan Singh          MG Johnson           6.0
RA Tripathi              LH Ferguson          6.0
                                             ...
KV Sharma                Harbhajan Singh      0.0
Shashank Singh           B Kumar              0.0
Kartik Tyagi             Mustafizur Rahman    0.0
                         Shashank Singh       0.0
KD Karthik               DS Kulkarni          0.0
Name: total_run, Length: 3894, dtype: float64